html,
body {
  margin: 0;
  font-family: Inter;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f55a5a;
  color: white;
  height: 65px;
}

.container {
  margin: 45px 40px;
}

.map-svg {
  width: 30px;
  margin-right: 7px;
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

.article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.article {
  display: flex;
  height: 200px;
  width: 600px;
  overflow: hidden;
}

.main-img-container {
  width: 150px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 15px;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-info-container {
  display: flex;
  align-items: center;
}

.location-icon {
  width: 10px;
  margin-right: 5px;
}

.country-name {
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 0.9rem;
}

.maps-link {
  font-size: 0.9rem;
}

.location-name {
  margin: 0;
}

.trip-dates {
  font-size: 0.9rem;
  margin: 10px 0;
}

.trip-description {
  overflow: hidden;
  line-height: 1.3;
  font-size: 1rem;
  margin-top: 10px;
}
